<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">À PROPOS</h5>
    <p class="card-text">Universal Medica est une filiale de Universal Medica Group.</p>
    <a href="#" class="btn btn-primary">En savoir plus</a>
  </div>
</div>